@charset "utf-8";

/* 드라마 테이블 CSS - drama.css */

/* 기본 초기화 : 마진, 패딩*/
html,
body,
h1,
h2,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* 블릿표시자 초기화 : ul,ol */
ul,
ol {
  /* 리스트 스타일 없앰 : lin */
  list-style: none;
}

/* 전체 제목 */
h1.tit {
  text-align: center;
  /* 패딩 */
  padding: 20px;
}

/* 드라마 제목 */
h2.tit {
  /* 두꺼운 글자 해제 : fwn */
  font-weight: normal;
  font-size: 17px;
}

/* ul의 li를 옆으로 흐르게 하기 */
.drama ul > li {
  /* 직계자식 li를 선택해야 하위의 ol>li까지 선택되지 않는다! */
  /* 블록플롯 셋팅 */
  float: left;
  /* 나는 왼쪽에 너는 오른쪽으로 올라와서 흘러가! */
  /* 패딩 */
  padding: 9px;
}

/* 자식 플롯 때문에 부모가 망가지는걸 막아주는 가상요소 클리어 장치 */
.drama ul::after {
  content: "";
  display: block;
  clear: both;
}

/* 테이블 셋팅 */
/* 클래스,id명 앞에 태그명을 같이 붙여쓰면 종속선택자라고 한다! 
해당 태그일 때만 그 클래스명이 적용되도록 태그명에 종속되어 있음!*/
table.drama {
  /* 최대 가로 크기 : maw */
  max-width: 670px;
  /* 마영오! 박스 중양정렬 */
  margin: 0 auto;
  /* 페딩 */
  padding: 15px;
}

/* 드라마별 묶음 요소 .drama > ul */
.drama ul {
  /* 보더 */
  border: 1px solid #ccc;
  /* 보더 둥근 모서리 */
  border-radius: 10px;
  /* 전체 글자 */
  font-size: 15px;
}

/* 드라마 이미지 속성 조정 */
.drama img {
  /* 가로크기 설정하면 높이값은 자동으로 설정! */
  width: 75px;
}
