@charset "utf-8";
/* CGV PJ 메인페이지 CSS - main.css */

/* 외부css 불러오기 */
@import url(./reset.css);

body {
  background-color: #000;
}
/* 공사중 표시 : 구현시 박스 표시 */
/* 별표시는 모든 요소를 선택함 */
body * {
  /* 아웃라인은 아무런 영향이 없음 */
  outline: 2px dashed #ccc;
}

.part {
  width: 1200px;
  margin: 0 auto;
}

/**************************** 1. 상단영역 ****************************/
.top-area {
  height: 80px;
}

/**************************** 2. 메인영역 ****************************/
.main-area {
  height: 788px;
}
/**************************** 3. 하단영역 ****************************/
.footer-area {
  height: 100px;
}
