@charset "utf-8";

@import url(./reset.css);

#top-area {
  /* height: 72px; */
  width: 100%;
  border: 1px solid #ccc;
}
.site-logo {
  font-size: 30px;
  font-style: bold;
  color: #0c4da2;
}
#neviMenu {
  display: block;
}
